@media only screen and (max-width: 998px) {

    /*Navbar*/
    body {
        overflow-x: hidden;
      }

      .logo{
        margin: 5px 0px;
      }
    
      .nav-list a{
        color: #000;
      }
    
      .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
      }
      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }
      .mobile-menu {
        display: block;
      }
    
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }



    /* corpo */
    .box-img-svg {
        margin-left: 0px;
    }

    .promo-box img {
        width: 15%;
        margin-right: 2%;
        padding-left: 0%;
        margin-left: 0%;
    }

    .cabeçalho {
        padding-left: 0%;
    }

    header {
        width: 85%;
        height: 80%;
    }

    header img {
        width: 100%;
    }


    /* Menu De Opções*/
    .btn-option h4{
      margin-bottom: 5px;
    }

    .btn-option{
      margin: 3px 0px;
    }

    .btn-option img{
      margin: auto;
      width: 48px;
      height: 48px;
      filter: none;
    }


    /*Categorias*/
    #referenci-category{
      height: 1200px;
  }
  .category{
    margin-top: 0px;
  }
}
